@tailwind base;
@tailwind components;
@tailwind utilities;


.carouselShdow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.fadeIn {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.banner .img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.banner .img.active {
  opacity: 1;
}

.enqueryFormShdow {
  box-shadow: 2px 0px 9px -3px rgba(0, 0, 0, 0.75);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeInAnimation {
  animation-delay: 0.8s;
  animation: newFadeIn 0.5s ease-in forwards;
}

@keyframes newFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.filterinvert {
  mix-blend-mode: multiply;
}

.shakingAni {
  animation: horizontal-shaking 1s 1s ease infinite;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }